body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: #3a9b3c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 100;
}

footer {
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 20px;

}
.christmaswords{
    color: red;
    font-family: 'Clicker Script', cursive;
}
h1{
    font-family: 'Luckiest Guy', cursive;
    color: rgb(1, 66, 1);
}
.tryred{
    font-family: 'Luckiest Guy', cursive;
    color: red;
}
.trygreen{
    font-family: 'Luckiest Guy', cursive;
    color: rgb(1, 66, 1);
}
.otherwords{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.rein {
    margin-bottom:50px;
}
.plswork{
    font-family: 'Clicker Script', cursive;
    font-size: 20px;
}